/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
  font-family: 'Varela Round', sans-serif;
	line-height: 1.4;
	width:auto;
}

h2 {
  text-transform: uppercase;
	text-align: center;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

li {
	display: inline-block;
	padding-left: 15px;
}

a {
  text-decoration: none;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.project-picture,
.portfolio-picture {
  width: 400px;
	margin: auto;
}

.wrapper {
	background: #F5F5F5;
	text-align: center;
}


.name {
	font-size: 20px;
}


/* ---- Layout Containers ---- */

.container {
	padding-left: 2em;
	padding-right: 2em;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 30px;
	text-align: center;

}

.card {
	text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
  border-top: 2px solid gray;
}

.full li {
	display: block;
	padding: 5px;
}

.footer li {
	display: none;
}

#contact {
	display: block;
	text-align: center;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 25px;
	background: #F5F5F5;
}

.column {
	padding: 5px;
	padding-bottom: 15px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {


	.card {
		width: 100%;
		padding-bottom: 25px;
		background: #F5F5F5;
		margin-bottom: 40px;
	}

	.portfolio-picture {
		float: right;
		width: 40%;
		padding-left: 1em;
	}

	.bio {
		float: left;
		width: 60%;
		padding-right: 1em;
		padding-left: 2em;
		text-align: left;
	}

	.portfolio {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}

	h2 {
		padding-bottom: 25px;
	}

	.column {
	  float: left;
	  width: 50%;
	  padding: 5px;
		padding-bottom: 15px;
	}

	#contact {
		display: block;
		text-align: center;
		padding-right: 60px;
		padding-left: 60px;
		padding-bottom: 25px;
		background: #F5F5F5;
	}

	.top {
		float: left;
		display: inline-block;
		padding-left: 2em;
	}

	.full {
		float: right;
		display: inline-block;
		padding-right: 2em;
	}

	.full li {
		display: inline-block;
		padding: 5px;
	}

	.main-footer {
		background: #F5F5F5;
	}

}




@media (min-width: 1024px) {

	.top {
		float: left;
		display: inline-block;
		padding-left: 2em;
	}

	.full {
		float: right;
		padding-right: 2em;
	}

	.full li {
		display: inline-block;
		padding: 5px;
	}

	.card {
		width: 100%;
		padding-bottom: 25px;
		background: #F5F5F5;
		margin-bottom: 40px;
	}

	.portfolio-picture {
		float: right;
		width: 40%;
		padding-left: 1em;
	}

	.bio {
		float: left;
		width: 60%;
		padding-right: 1em;
		padding-left: 2em;
		text-align: left;
	}

	.portfolio {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}

	h2 {
		padding-bottom: 25px;
	}

	.column {
		float: left;
		width: 33.33%;
		padding: 5px;
		padding-bottom: 15px;
	}

	.main-footer {
		background: #F5F5F5;
	}

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
